.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 98px;
    padding-top: 90px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style:circle;
    padding-left: 50px;
    padding-top: 44px;
}
.header__links-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    list-style: none;
}
.header__link_active{
    text-decoration: none; 
}
.header__links-list-item{
    list-style-type: circle;
    margin-left: 3px;
}
.header__logo-image{
    display: block;
    width: 148px;
    height: 105px;
    margin-top: 2px;
}
.address{
    font-size: 18px;
    line-height: 24px;
    text-underline-offset: 4px;
    font-style: normal;
}
.header .address{
    grid-column: 3;
    justify-self: end;
    padding-right: 85px;
    padding-top: 4px;
}
main{
    position: relative;
}

.cover{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../images/cover.jpg);
    color: #fff;
}
.overlay{
    position: absolute;
    inset: 0;
    object-fit: cover;
    background-color: rgb(0 0 0/ 0.6);
    z-index: 1;
}

.cover__title{
    padding: 160px 20px 0px 50px;
    text-transform:uppercase;
    font-size: 100px;
    letter-spacing: 0.3em;
    z-index: 1;
}
.aligned-text_left{
    display: block;
    text-align: start;
    margin-top: 5px;
    margin-right: 5px;
}
.aligned-text_center{
    display: block;
    text-align: center;
    margin-top: 18px;
}
.aligned-text_right{
    display: block;
    text-align: end;
    margin-top: 15px;
    margin-left: 19px;
}
.cover__description{
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    bottom: 10px;
    padding: 112px 50px 40px 50px;

}
.cover__description-text{
    flex-wrap: nowrap;
    text-transform:uppercase;
    word-spacing: 18px;
    letter-spacing: 0px;
    font-size: 22px;
}
button{
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255, 0.9);
    padding: 12px 32px;
    font-size: 18px;
    z-index: 1;
}
.bet-button{
    font-size: 22px;
    text-transform: uppercase;
    background: rgba(255, 255, 255 / 0);
}

.lots{
    padding: 0px 25px;
    padding-top: 180px;
    z-index: 1;
    background-color: #fff;
}
.lots__heading{
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 23px;
    padding-left: 40px;
    z-index: 2;
}
.lots__card-list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 24px;
    list-style-type: none;
    color: #fff;
    padding-top: 6px;
}
.lots__card-list-item{
    width: 334px;
    min-height: 500px;
}
.card-link{
    position: relative;
    text-decoration: none;
    height: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.card_type_film{        
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book{
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture{
    background-image: url(../images/card-lot-03.jpg);
}
.card__title {
    display: flex;
    text-decoration: underline;
    text-transform: uppercase;
    flex-wrap:wrap;
    font-size: 22px;
    margin-top: 32px;
    padding: 16px 40px;
    z-index: 2;
}

.card__text {
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    padding: 20px 40px;
    margin-bottom: 28px;
    font-size: 20px;
    z-index: 2;
}
.lots__look-more-link{
    display: inline-block;
    padding-top: 33px;
    padding-left: 40px;
    padding-bottom: 35px;
    font-size: 20px;
}
.about{
    display: grid;
    grid-template-columns:1fr 2fr;
    background-color: #fff;
    width: 100%;
    height: auto;
    z-index: 2;
    padding-top: 117px;
    
}
.about__logo{
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin-left: 71px;
}
.about__logo-image{
    width: 148px;
    height: 114px;
    padding-top: 62px;
    padding-left: 46px;
}
.about__title{
    display: flex;
    justify-content: start;
    align-content: start;
    padding-top: 100px;
    padding-left: 16px;
    text-transform: uppercase;
    font-size: 40px;
}
.about__column{
    display: grid;
    padding-top: 8px;
    padding-left: 18px;
    padding-right: 25px;
    line-height: 24px;
    grid-column: -2/-1;
    gap: 24px;
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 170px;
    padding-bottom: 92px;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 19px;
    margin-right: 155px;
}
.footer__menu-list{
    list-style: none;
}
.footer__menu-link_active{
    text-decoration: none;
    list-style: none;
}
.footer__menu-link{
    text-decoration: underline;
}
.footer__social-icon{
    width: 48px;
    height: 48px;
}
.footer__social-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 48px;
    padding-top: 10px;
    padding-right: 50px;
}
.footer .address{
    margin-right: auto;
    padding-left: 50px;
    padding-top: 10px;
}